/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box; /* Width = ADD of Border + Pad + Margin */
  text-align: center;
/*  border: 2px solid rebeccapurple; */
}

body {
  font-size: 24px;

}

header {
  height: 100px;
  padding: 30px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}


#left {
  float: left;
  width: 33pc;
  height: 100px;
  background: #666;
}

#middle {
  float: left;
  width: 33pc;
  height: 100px;
  background: #888;
}

#right {
  float: left;
  height: 100px;
  width: 33pc;
  background: #666;
}

.SideBySide {
  height: 100px;
  margin-bottom: 20px;
}

.SideBySide::after {
  content: "";
  display: block;
  clear: both;
}



#full {
  display: block;
  margin-bottom: 20px;
}

#full::after {
  content: "";
  display: block;
  clear: both;
}

#division {
  display: block;
/*  float: left; */
  position: relative ;
  left: 20px;
  height: 100px;
  width: 96pc;
  background-color: #6ea3da;
}

aside {
  float: left ; /* */
  position: relative;
  left: 60px ;
  top: 25px; 
  z-index: 1 ;
  background-color: white ;
  padding: 20px 20 px 20px 60px ;
  height: 250px;
  width: 30pc;
/*  border: 2px solid red;  */
}

section {
/*  float: left ; /* */
  line-height: 100px ;
  height: 300px;
  background: #eee;
/*  border: 2px solid rebeccapurple; */
}


footer {
  display: block;
  height: 100px;
  padding: 30px;
  background: #ccc;
/*  border: 2px solid rebeccapurple; */
}
